{% extends "base.html" %}
{% block title %}Logged out{% endblock %}

{% block content %}
    <div style="padding: 150px">
    <div class="mask d-flex align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
                <center><h3>Logged out</h3>
                <p>You have been successfully logged out.</p>
                <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark"><a href="{% url "login" %}">log in</a></button></center>
            </div>
        </div>
    </div> 
    </div>
    </div>
{% endblock %}